{% extends 'base.html.twig' %}

{% block title %}Access denied!{% endblock %}

{% block body %}

    <div class="container mt-4 alert-danger p-3 text-center">
        <h1 class="display-2 font-weight-bold">
            ACCESS DENIED
        </h1>
        <i class="fas fa-exclamation-triangle fa-9x pb-3"></i>
    </div>

{% endblock %}