{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <ul>
    <li>Créer un accordeon pour chaque catégorie</li>
    <li>Enlever les edit</li>
    <li>mettre le show sur le titre</li>
    </ul>

    <br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', {'slug': category.slug}) }}">{{ category.title }}</a></td>
                <td>{{ category.content|raw }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination justify-content-center px-2">
    {{ knp_pagination_render(categories) }}
</div>

{% endblock %}
