{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h2 class="mt-4">Category index</h2>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', {'slug': category.slug}) }}">{{ category.title }}</a></td>
                <td>{{ category.content|slice(0,80)|raw }}...</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination justify-content-center px-2">
    {{ knp_pagination_render(categories) }}
</div>

{% endblock %}
