{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    <div class="form-group">
        {{ include('admin/categories/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
