{% extends 'base.html.twig' %}

{% block title %}Welcome on Admin dashboard{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        <h3>Admin Index Categories</h3>
    </div>
</div>

{% endblock %}
