{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h2 class="mt-4">Create new Category</h2>

    {{ include('admin/categories/_form.html.twig') }}

{% endblock %}
