{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h2>Edit Article</h2>

    {{ include('admin/articles/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
