{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h2 class="mt-4">Create new Article</h2>

        {{ include('admin/articles/_form.html.twig') }}

{% endblock %}
